.footer {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .followUs {
        color: var(--main-text-color);
        font-weight: bold;
        font-size: 1.2rem;

        div {
            margin-top: 1rem;
            display: flex;
            gap: 1rem;
        }
    }

    .contactUs {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--main-text-color);

        div {
            margin-top: 1rem;
            font-weight: 300;
            font-size: 1rem;
        }
    }
}


.limiter {
    width: 70%;
    max-width: 1280px;
    margin: auto;
    display: inline-grid;
    align-items: flex-start;
    grid-template-columns: auto auto auto;
    gap: 2rem;
}

@media (max-width: 768px) {
    .limiter {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer {
        height: 40vh;
    }

    .followUs,
    .contactUs {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem !important;
    }
}